/* 使用fullpage的时候，它会自动帮我们再生成一个div，包住我们自己写的元素 */
.section1>div{

    display: flex;
    /* 主轴方向为y轴 */
    flex-direction: column;
    /* 主轴排列为space-around */
    justify-content: space-around;
    /* 副轴居中 */
    align-items: center;
}

.text img{

    margin-left: 30px;
    opacity: 0.3;
}

.section1.animation .text img{

    transition: all 1s;
    margin-left: 0;
    opacity: 1;
}


/* 第二屏开始 */
.section2>div{

    display: flex;
    justify-content: space-around;

    /* 统一设置子元素在副轴的排列 */
    align-items: center;
}

.section2 .shield{

    width:500px;
}


.section2 .shield img{

   float: left;
}

.section2 .shield img:nth-child(3){

    transform: translate(1000px,800px) rotate(480deg);
}

.section2.animation  .shield img:nth-child(3){

    transition: all 1s;
    transform: none;
}


/* 第三屏 */
.section3>div{

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section3 .circle{

    background: url(../images/circle.png);
    width: 453px;
    height: 449px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .rocket{

    transform: translate(-800px,600px);
}

.section3.animation .rocket{

    transition: all 1s;
    transform: none;
}

/* 第四屏开始 */
.section4>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.section4 .searchBox{

    width: 529px;
    height: 438px;
}

.section4 .search{

    width: 529px;
    height: 66px;
    background: url(../images/search.png);
    position: relative;

    transform: translateX(-800px);
}

.section4 .key{

    /* width: 99px; */
    width: 0px;
    height: 22px;
    background: url(../images/key.png);
    position: absolute;
    left:20px;
    top:23px;
}

.section4 .result{

    width: 529px;
    /* height: 372px; */
    height: 0px;
    background: url(../images/result.png);
}

.section4.animation .search{

    transition: all 1s;
    transform: none;
}

.section4.animation .key{

    transition: all 1s 1s steps(5);
    width: 99px;
}

.section4.animation .result{

    transition: all 1s 2s;
    height: 372px;
}


/* 第五屏开始 */

.section5>div{

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.section5 .browser{

    width: 1008px;
    flex:1;

    position: relative;
}


.section5 .extra{

    position: absolute;
    bottom: 0;
    right: 0;
}

.section5 .border{

    background-color: #fff;
    position: absolute;
}

.section5 .top{
    width: 100%;
    height:5px;
    left:0;
    top:0;

    transform: translateX(-1300px);
}

.section5 .bottom{
    width: 100%;
    height: 5px;
    bottom: 0;

    transform: translateX(1300px);
}

.section5 .right{

    width: 5px;
    height: 100%;
    right:0;
    transform: translateY(-1300px);
}

.section5 .left{

    width: 5px;
    height: 100%;
    left:0;
    transform: translateY(1300px);
}

.section5.animation .border{

    transition: all 1s;
    transform: none;
}